.footer {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	text-decoration: none;
	background-color: #BAB8B8;
	height: 100px;
	text-align: center;
}

.copyright{
	padding-top: 22px;

}

.social-footer {
	width: 100%;

	margin-top: 15px;
	padding-top: 20px;

}

.bottom-mail{
	float: right;
	width: 30%;
	margin-right: -5%;
}
.bottom-twitter{
	float: right;
	width: 30%;
	margin-right: -5%;

}
.bottom-linkedin{
	float: right;
	width: 30%;
		margin-right: -5%;

}
.bottom-behance{
	float: right;
	width: 30%;
	margin-right: -5%;


}

