.footer {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	text-decoration: none;
	text-align: center;
}

.copyright{


}

.social-footer {
	display: block;
	padding: 0;
}

.bottom-mail{

}

.bottom-twitter{

}

.bottom-linkedin{


}

.bottom-behance{

}

@media only screen and (min-width: 25em) {



		display: block;
	}

}

@media only screen and (min-width: 38em) {

	.social-footer {
		width: 60%;
		margin-top: 15px;
		padding-top: 20px;
			margin-right: 14%;
	}

}

