body{
 font-family: 'Oswald', sans-serif;
 font-weight: 300;
 text-decoration: none;
}

ul{
	list-style-type: none;
	text-decoration: none;
}

.social-top{
	width: 100%;
	display: block;
	margin-top: -12px;
}

.top-mail{
	float: right;
	width: 16%;
	margin-right: -5%;
}

.top-twitter{
	float: right;
	width: 16%;
	margin-right: -7%;
}

.top-linkedin{
	float: right;
	width: 16%;
	margin-right: -7%;
}

.top-behance{
	float: right;
	width: 16%;
	margin-right: -7%;

}

nav{
	width: 40%;
}

nav ul li{
	float: left;
	position: relative;
}

.logo{
		position: fixed;
		margin-top: -5%;
		margin-left: -35%;
		width: 60%;
}

.lore{
	text-align: center;
	padding-top: 20%;
	font-weight: 300;
	margin-bottom: 0;
  font-size: 1.4238rem;
}


@media only screen and (min-width: 25em) {

.social-right-s{
	margin-right: .9%;
}


}

@media only screen and (min-width: 40em) {

	.social-right-m{
		width: 60%;
		float: right;
		margin-top: 0px;
	}

nav{
	width: 40%;
}

.lore{
	text-align: right;
	padding-top: 20%;
	font-weight: 300;
	margin-bottom: 0;
  font-size: 1.6018rem;
}

}

@media only screen and (min-width: 50em) {

	.social-right-m{
		width: 60%;

	}

}

@media only screen and (min-width: 70em) {

	.social-right-l{
		width: 60%;
	}

@media only screen and (min-width: 85em) {

	.social-right-xl{
		width: 60%;
	}

