body{
 font-family: 'Oswald', sans-serif;
 font-weight: 300;
 text-decoration: none;
}

ul{
	list-style-type: none;
	text-decoration: none;
}

.social-top{
	width: 100%;
	display: block;
	margin-top: -12px;
}

.top-mail{
	float: right;
	width: 20%;
	margin-right: -5%;
}

.top-twitter{
	float: right;
	width: 20%;
	margin-right: -7%;
}

.top-linkedin{
	float: right;
	width: 20%;
	margin-right: -7%;
}

.top-behance{
	float: right;
	width: 20%;
	margin-right: -7%;

}

.logo-center{
	display: block;
	width: 100%;
}

.logo{
		display: none;
}

.lore{
	text-align: center;
	padding-top: 5%;
	font-weight: 300;
	margin-bottom: 0;
  font-size: 1.4238rem;
}


@media only screen and (min-width: 25em) {

	.logo-center{
	margin-left: 17%;
	width: 65%;
}


.social-right-s{
	margin-right: .9%;
	display: block;
}


}

@media only screen and (min-width: 38em) {

	.logo-center{
		display: none;
}

	.logo{
		position: fixed;
		text-align: center;
		margin-top: -5%;
		margin-left: -33%;
		width: 60%;
		display: block;
	}

	.social-right-m{
		width: 70%;
		float: right;
		margin-top: 0px;
	}

nav{
	width: 40%;
}

.lore{
	text-align: right;
	padding-top: 20%;
	font-weight: 300;
	margin-bottom: 0;
  font-size: 1.6018rem;
}

}

@media only screen and (min-width: 50em) {

	.social-right-m{
		width: 60%;

	}

}

@media only screen and (min-width: 70em) {

	.social-right-l{
		width: 60%;
	}

@media only screen and (min-width: 85em) {

	.social-right-xl{
		width: 60%;
	}

