* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: #333;
  margin: 0 5%;
  font-size: 19px;
}

a {
  color: #fff;
}

header {
  color: #000;
  text-align: center;
  padding: 30px 0 10px;
}
header h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 45px;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 0.8;
  padding-top: 110px;
  font-family: "Montserrat", sans-serif;
}
header h1 span {
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 15px;
  line-height: 1;
}
header p {
  padding-top: 30px;
}

@media only screen and (max-width:556px){
  header h1{
    font-size: 35px;
      padding-top: 50px;
  }
  header h1 span{
    font-size: 12px;
      letter-spacing: 5px;
  }
}

.header-full{
  margin:25px;
}

.image-full{
  width: 100%;
}

.project{
  margin: 15%;
}

/* -- DEFAULTS -- */

div, ul, li{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* -- FLUID GRID STYLES -- */

#Grid{
  margin-bottom: 40px;
  text-align: justify;
  font-size: 0.1px;
}

#Grid li{
  display: inline-block;
  width: 31%;
      padding-top: 2%;
    margin-bottom: 2%;
}

#Grid:after{
  content: '';
  display: inline-block;
  width: 100%;
}


/* -- MEDIA QUERIES DEFINING RESPONSIVE LAYOUTS -- */

/* 3 COL */

@media (max-width: 800px){
  #Grid li{
    width: 31%;
    padding-top: 2%;
    margin-bottom: 2%;
  }
}

/* 2 COL */

@media (max-width: 600px){
  #Grid li{
    width: 48%;
    padding-top: 2%;
    margin-bottom: 2%;
  }
}

/* SINGLE COL */

@media (max-width: 400px){
  #Grid li{
    width: 100%;
    padding-top: 3%;
    margin-bottom: 3%;
  }
}
