* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: #333;
  margin: 0;
  font-size: 19px;
}

a {
  color: #fff;
}

.row {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0;
  clear: both;
}
.row img {
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

.gallery ul li {
  float: left;
  margin: 0 0.8771929825%;
  overflow: hidden;
}

header {
  color: #000;
  text-align: center;
  padding: 30px 0 10px;
}
header h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 45px;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 0.8;
  padding-top: 110px;
  font-family: "Montserrat", sans-serif;
}
header h1 span {
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 15px;
  line-height: 1;
}
header p {
  padding-top: 30px;
}

@media only screen and (max-width:556px){
  header h1{
    font-size: 35px;
      padding-top: 50px;
  }
  header h1 span{
    font-size: 12px;
      letter-spacing: 5px;
  }
}

.gallery {
  padding: 40px 0 80px;
  position: relative;
  overflow: hidden;
}
.gallery ul {
  padding-top: 50px;
  position: relative;
}
.gallery ul li {
  margin-bottom: 20px;
  width: 23.2456140351%;
  position: relative;
}

.header-full{
  margin:25px;
}

.image-full{
  width: 100%;
}

.project{
  margin: 15%;
}
