.services{
  margin:0 10%;
  padding-bottom: 45px;
  text-align: center;
}

.services ul {
    text-indent: 25px;
    margin-top: 0;
}


@media only screen and (max-width: 539px) {
  .services h4{
  font-size: 17px;
  letter-spacing: 3px;
  }
}
@media only screen and (max-width: 862px) {
  .services{
  margin:0 15%;
  }
  .services ul{
    font-size: 18px;
  }
}
