.services{
  margin:0 15%;
  padding-bottom: 45px;
  text-align: center;
}

.services ul {
    text-indent: 25px;
    margin-top: 0;
}


@media only screen and (max-width: 400px) {
  .services h4{
  font-size: 14px;
  letter-spacing: 4px;
  }
}
@media only screen and (max-width: 862px) {
  .services{
  margin:0 15%;
}
}
