.services{
  margin:0 10%;
  padding-bottom: 45px;
  text-align: center;
}

.services ul {
    text-indent: 25px;
    margin-top: 0;
}
.about-photo{
  text-align: center;
  width: 100%;
}

.blurb{
  margin:0 20%;
  padding-bottom: 45px;
  text-align: center;
}

.next{
  text-align: right;
  margin-right: 12px;
  padding-bottom: 20px;
  padding-top: 8px;
}

.next a:hover{
  color: #1bc4e1;
}

@media only screen and (max-width: 539px) {
  .services h4{
  font-size: 17px;
  letter-spacing: 3px;
  }
  .next{
  text-align: center;
  margin-right: 0px;
  }
  .blurb{
  margin:0 10%;
}
}
@media only screen and (max-width: 862px) {
  .services{
  margin:0 15%;
  }
  .services ul{
    font-size: 18px;
  }
    .next{
  text-align: center;
  margin-right: 0px;
  }
}

